*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: spartan;
}

.header {
    background-color: #1538e7;
    color: #ffffff;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid grey;
    width: 100%;
    line-height: 100px;
    margin-bottom: 15px;
}

.input{
text-align: center;
margin: 100px 0;
}

input[type="text"] {
    height:50px;
    width: 600px;
    background: #e7e7e7;
    font-family: spartan;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}