*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    padding: 5px;
}

body{
    font-family: spartan;
}

.container-fluid {
    text-align: center;
}
.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.header {
    background-color: #1538e7;
    color: #ffffff;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid grey;
    width: 100%;
    line-height: 100px;
    margin-bottom: 15px;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="text"] {
    height:50px;
    width: 350px;
    background: white;
    font-family: spartan;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    margin-right: 10px;
    border: 1px solid darkgray;
}

input[type="submit"] {    
    height:50px;
    width: 100px;
    background: #e7e7e7;
    font-family: spartan;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.display{
    text-align: center;
    line-height: 40px;
    border: solid 2px black;
    float: right;
}

.search {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#weather-today {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 6%;
}

/* UV background colours */
.green-background {
    background-color: green;
}

.orange-background {
    background-color: orange;
}

.red-background {
    background-color: red;
}

#five-day {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.day-card {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.dayOne, .dayTwo, .dayThree, .dayFour, .dayFive {
    width: 10%;
}

.icon1, .icon2, .icon3, .icon4, .icon5 {
    width: 40%;
}


